layout {

    focus-ring {
        active-color   "#6fd7d4"
        inactive-color "#0f1414"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#6fd7d4"
        inactive-color "#0f1414"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#6fd7d4"
        inactive-color "#3aa8a6"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#6fd7d480"
    }
}

recent-windows {
    highlight {
        active-color "#6fd7d4"
        urgent-color "#ffb4ab"
    }
}
